.img-container {
    margin-bottom: -10px;
}

.img {
    width: 100%;
    padding-top: 10px;
}

.container {
    color: white;
    text-align: center;
    background: linear-gradient(to bottom, rgba(49, 24, 104, 0.74), black);
    padding: 20px;
}

.images {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
}

.image {
    flex: 1;
    width: calc((100% - 40px) / 3);
    max-width: 300px;
    border-radius: 20px;
    padding: 11px 10px;
    position: relative;
    overflow: hidden;
}

.border {
    height: 10rem;
    box-shadow:
        0 0 0 5px white,
        0 0 0 5px white,
        0 0 0 5px white,
        0 0 0 5px white;
}

.image img {
    width: 100%;

}

.image h3 {
    color: white;
    font-size: 16px;
    margin-top: 10px;
}

.heading {
    margin-top: 3rem;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 3rem;
}

.about-section {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.titles {
    margin-bottom: 20px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
}

.logo {
    width: 40%;
}

.logo img {
    width: 250px;
    padding-left: 5rem;
    margin-right: 14rem;
}

.text-wrapper {
    flex-grow: 1;
    text-align: right;
    margin-right: 5rem;
}

.text-container {
    display: inline-block;
    width: 60%;
}

.text p {
    text-align: left !important;
}

.titles h2 {
    font-size: 36px;
    font-weight: 400;
    color: white;
    margin: 0;
}

.titles h1 {
    font-size: 60px;
    font-weight: 800;
    color: white;
    margin-bottom: 2rem;
}

.image-container {
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background: linear-gradient(to bottom, black, rgba(49, 24, 104, 0.80));
}

.image-container img {
    width: calc(20% - 10px);
    border: 4px solid white;
    border-radius: 10px;
    height: 200px;
}

.partner-section { 
    background: linear-gradient(to bottom,rgba(49, 24, 104, 0.80), rgba(49, 24, 104, 0.74));
    padding-bottom: 5rem;
}

.partner-container {
    display: flex;
    flex-direction: column;
}

.partner-title h2 {
    font-size: 60px;
    font-weight: 800;
    color: white;
    text-align: left;
    padding-top: 2rem;
    padding-left: 2rem;

}

.partner-content {
    padding-left: 2rem;
    display: flex;
    align-items: flex-start;
    padding-top: 1rem;
}

.partner-text {
    color: white;
    font-size: 16px;
    text-align: left;
    flex-basis: 40%;
    padding-right: 8rem;
}

.partner-images {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 3rem;
    width: calc(161px * 3 + 20px * 2);
}

.partner-images img {
    color: white;
    width: 161px;
    height: 42px;
    border-radius: 10px;
}
  
  .stats-container {
    padding-top: 2rem;
    display: flex;
    background-color:  rgba(49, 24, 104, 0.74);
  }
  
  .stats-left-section, .stats-right-section {
    width: 50%;
  }
  
  .stats-left-section {
    display: flex;
  }
  
  .stats-subsection {
    flex: 1;
    text-align: center;
    padding: 1rem;
  }
  
  .stats-number {
    font-size: 60px;
    font-weight: 250;
    color: white;
    padding-bottom: 1rem;
  }
  
  .stats-text {
    font-size: 32px;
    font-weight: 100;
    color: white;
    margin-top: 10px;
    margin-bottom: 2rem;
  }
  /* .map-container{
    background-color: rgba(49, 24, 104, 0.74);
    border: 2px solid brown;
    align-items: center;
  } */
  .map{
    align-items: center;
    margin-left: 450px;
    /* margin-top: 30px;
    margin-bottom: 30px; */
    margin-right: 2050px;
    /* border: 4px solid brown; */
    /* display: none; */
    position: relative;
    right: 25%;
    bottom: 20%;
    width: 60%;
    border-radius: 2%;
    margin-bottom: 50px;

  }


  /* responsive design  */
@media (max-width: 768px){
  html, body {
    margin: 0;
    padding: 0;
}
.img {
    width: 100%; /* Adjust width for mobile */
}


.service-container {
    display: flex;
    width: 91%;
    /* max-width: 90%; */
    /* padding: 20px; Add padding around the content */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    /* border: 2px solid brown; */
    height: 750px;
    /* background-color:red !important; */
    flex-direction: column;
    flex-wrap: wrap;

}
.heading {
    font-size: 2.0rem; /* Adjust font size for smaller screens */
    /* Adjust line height for smaller screens */
    text-align:center;
    /* background-color: aqua; */
    height: auto;
    width: auto;
    margin-left: -14px;
    margin-top: 20px;
    margin-bottom: 40px;
    
    
}
.img-container{
    max-width: 100%; 
}
.img{
    width: 100%;
}


/* -------about us------------ */

.about-section{
    /* border: 2px solid yellow; */
    width: 91%;
    display: flexbox;
    flex-direction: column;
    height: 650px;
}
.about-section .titles h1{
    font-size: 2.0rem;
    /* border: 2px solid goldenrod; */
    margin-bottom: 2px;
    width: 85%;
    margin-left: 5%;

}
.about-section .titles h2{
    font-size: 1.5rem;
    /* border: 2px solid goldenrod; */
    padding-bottom: 4px;
    width: 85%;
    margin-left: 5%;
    padding-top: 3%;
}
.content{
    margin-top: 1%;
    margin-bottom: 5%;
    display: block;
    /* border: 2px solid brown; */
    width: 95%;
}
 .logo{
    /* border: 2px solid green; */
    /* display: block; */
    /* float: clear; */
    width: 75%;
    /* flex: 0 0 auto; */
    /* margin-left: 25px; */
    height: 47%;
    /* margin-top: 1px; */
    margin-bottom: 8%;


}
.content .logo img{
    width: 65%;
    /* display: none; */
    align-items: center;
    margin-right: 45px;
    /* border: 2px solid rgb(128, 0, 32); */
}
.text-wrapper{
    margin-right: 0;
    width: 75%;
    box-sizing: border-box;
    padding: 10px; 
    text-align: center;
}


.text p {
    margin-left: 15%;
    text-align: justify;
    /* border: 2px solid goldenrod; */
    width: 120%;
    font-size: 1rem;
}

/* -----image container---------- */

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute items evenly */
    padding: 10px; /* Add padding around the container */
}
.image-container img {
    justify-content: space-evenly;
    width: calc(50% - 20px); /* Two images per row for smaller screens */
    /* padding: 5px; */
    margin-bottom: 20px;
}

.image-container img:nth-child(-n+2) {
    height: 130px; /* Set the height of images in the first row */
}


/* ----------partner-section------------- */
.partner-title h2{
    font-size: 2rem;
    justify-content: center;
    margin-left: 18%;
    /* background-color: aqua; */
    /* color: black; */
}

.partner-content {
    display: flex;
    flex-direction:column; /* Stack items vertically */
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

.partner-text, .partner-images {
    /* display: flex; */
    width: 100%; /* Occupy full width */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    padding: 10px; /* Add padding for spacing */
    /* flex-direction: row; */
}
.partner-images{
 display: flex; 
 flex-direction: row;
 flex-wrap: wrap;
}
.partner-images img{
    width: 40%;
    margin-right: 2%;
}

.partner-text {
    width: 100%; /* Occupy full width */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    padding: 10px; /* Add padding for spacing */
    text-align: justify; /* Align text to justify */
}

.partner-text p {
    margin: 0; /* Remove default margin for paragraphs */
    margin-right: 7%;
}

/* -----------stats section---------------  */
.stats-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    align-items: center;
}
.stats-left-section{
    /* border: 2px solid green; */
    width: 100%;
    justify-content: space-evenly;
}
/* .stats-right-section{
    border: 2px solid yellow;
} */
.stats-number{
    font-size: 1.5rem;
}
.stats-text{
    font-size: 1.5rem;
}

.stats-right-section{
    /* border :2px solid yellow; */
    width: 100%;
    justify-content: space-evenly;
}
.map{
    
    width: 100% !important;
    height: 100% !important;
    /* right: 0% !important; */
    /* border: 2px solid black; */
    position: relative;
}


.map {
    margin-right: 0px !important;
    margin-left: 0 !important;
    right: 0;
}
.service-image{
 position: relative;
 width: 100%;

}
.service-image img{
    width: 49%;
    float: left;
    height: 150px;
    border-radius: 5px;
}
.service-image h3{
    width: 49%;
    float:right;
    /* align-items: center; */
    padding-top: 45px;
}


.service-images{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


}


@media (min-width: 768px){

/* service section */
  .service-container{
    width: 95%;
    height: 1200px;
    /* border: 2px solid brown; */
  }
 
  .images {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid green; */
    width: 100%;
    height: 1000px;
    
   
}


.image {
    /* flex: 1 0 50%; /* Two items per row for iPad view */
    /* display: flex;  */
    flex-direction: row;
    /* align-items: center;
    text-align: center; */
    /* margin-bottom: 20px; Add margin between items */
    /* border: 2px solid rgb(0, 34, 255); */
     width: 80%;
    height: 60%; 
    justify-content: space-between;
    align-items: stretch;
    margin-left: 30%;
    
}
.image img{
    width: 70%;
    float: left;
}

.subtitle {
    margin-top: 10px; /* Add margin between image and heading */
    float: right;
    padding-right: 35%;
}


/* about us section */
  .about-section{
    width: 95%;
  }
  .content .logo img{
    padding-left: 35%;
  }
  .titles h1{
    padding-top: 15px;
  }

  /* partners section */
   .partner-section h2{
    padding-left: 20%;
   }

}
