<div class="img-container">
    <img src="assets\home\Screenshot 2024-03-21 at 2.29 1.png" alt="Company Logo" class="img">
</div>
<div class="container">
    <h2 class="heading">Our Services</h2>
    <div class="images">
        <div class="image">
            <img class="border" src="assets\home\Screenshot 2024-03-21 at 2.58 1.png" alt="Solar Solutions">
            <h3 class="subtitle">Solar Solutions</h3>
        </div>
        <div class="image">
            <img class="border" src="assets\home\Screenshot 2024-03-21 at 3.13 1.png" alt="Power Backup Solutions">
            <h3 class="subtitle">Power Backup Solutions</h3>
        </div>
        <div class="image">
            <img class="border" src="assets\home\Screenshot 2024-03-21 at 3.06 1.png" alt="Maintenance & Repairs ">
            <h3 class="subtitle">Maintenance & Repairs</h3>
        </div>
    </div>
</div>
<div class="about-section">
    <div class="titles">
        <h1>About Us</h1>
        <h2>Our Journey</h2>
    </div>
    <div class="content">
        <div class="logo">
            <img src="assets\home\Ap3 1.png" alt="Logo">
        </div>
        <div class="text-wrapper">
            <div class="text">
                <p>For over 25 years, Abton Power Devices Pvt Ltd has been a leading provider of top-tier power backup
                    solutions in Delhi, South Delhi, and the NCR region. We offer a comprehensive range of products to
                    ensure your home, business, or industrial needs are met during power outages. As a team of
                    experienced
                    electrical engineers, we pride ourselves on delivering exceptional service and quality solutions to
                    meet
                    our customers' needs. Our passion for innovation and attention to detail have earned us a reputation
                    as
                    a leading provider of power backup solutions. We work tirelessly to stay within budget while
                    providing
                    maximum value for our clients.</p>
            </div>
        </div>
    </div>
</div>
<div class="image-container">
    <img src="assets\home\IMG_4388 1.png" alt="Image 1">
    <img src="assets\home\IMG_4470 1.png" alt="Image 2">
    <img src="assets\home\IMG_4554 1.png" alt="Image 3">
    <img src="assets\home\IMG_4395 1.png" alt="Image 4">
</div>
<div class="partner-section">
    <div class="partner-title">
        <h2>Our Partners</h2>
    </div>
    <div class="partner-content">
        <div class="partner-text">
            <p>We partner with leading brands like Exide, Luminous, Microtek, Amaron, SF Sonic and Schneider Electric to
                provide you with the best possible power backup solutions. These brands are known for their reliability,
                performance, and innovation, ensuring you get the best value for your money.</p>
        </div>
        <div class="partner-images">
            <img src="assets\home\Screenshot_2024-01-20_at_12.21 1.png" alt="Image 1">
            <img src="assets\home\Screenshot_2023-12-26_at_4.37 1.png" alt="Image 2">
            <img src="assets\home\Amaron_Logo_Vector-removebg-preview 1.png" alt="Image 3">
            <img src="assets\home\Microtek logo.png" alt="Image 4"> 
            <img src="assets\home\Screenshot_2024-01-17_at_5.41 1.png" alt="Image 5">
            <img src="assets\home\Exide 1.png" alt="Image 6">
        </div>
    </div>
</div>
<div class="stats-container">
    <div class="stats-left-section">
        <div class="stats-subsection">
            <div class="stats-number">25+</div>
            <div class="stats-text">Years of <br><br> Expertise</div>
          </div>
      <div class="stats-subsection">
        <div class="stats-number">4K+</div>
        <div class="stats-text">Clients</div>
      </div>
      <div class="stats-subsection">
        <div class="stats-number">10</div>
        <div class="stats-text">OEM <br><br> Partners</div>
      </div>
    </div>
    <div class="stats-right-section">
    </div>
  </div>
  
  