<footer class="footer">
  <div class="container">
    <h2 class="company-name">Abton Power Devices Pvt Ltd</h2>
    <div class="company-info">
      <div class="address">
        <p>
          Shop No 45, (FF) DDA Local Shopping Center (LSC) Mangla Market, <br>
          Adjoining Kalkaji Head Post OFFICE, Kalkaji, New Delhi, Delhi 110019
        </p>
      </div>
      <div class="contact-info">
        <div class="email">abtonpower@gmail.com</div>
        <div class="phone">+91-9818615350, 9310215350</div>
        <div class="phone">+011-41600748,40590665</div>
      </div>
    </div>

    <div class="input-form">
      <p class="form-title">Get in Touch</p>
      <form [formGroup]="contactForm" name="contact" method="POST" (ngSubmit)="onSubmit()" class="form-container" data-netlify="true">
        <div class="form-group">
          <input name="name" type="text" id="name" formControlName="name" class="form-control" placeholder="Name" required>
        </div>
      
        <div class="form-group">
          <input name="contactNumber" type="tel" id="contactNumber" formControlName="contactNumber" class="form-control" placeholder="Contact No *" required>
        </div>
      
        <div class="form-group">
          <input name="email" type="email" id="email" formControlName="email" class="form-control" placeholder="Email">
        </div>
      
        <div class="form-group">
          <input name="requirement" type="text" id="requirement" formControlName="requirement" class="form-control" placeholder="Requirement">
        </div>
      
        <div class="form-group">
          <input name="picture" type="file" id="picture" formControlName="picture" class="file-input" (change)="onFileSelected($event)">
          <label for="picture" class="file-label">
            <span class="placeholder">{{selectedFileName}}</span>
            <span class="selected-file">{{selectedFileName}}</span>
          </label>
        </div>
      
        <button type="submit" [disabled]="!contactForm.valid" class="submit-button">GO</button>
        <input type="hidden" name="form-name" value="contact" /> <!-- Add this hidden input for Netlify -->
      </form>
      <p class="rights-reserved">© 1999- 2024 All rights reserved</p>
    </div>
  </div>
</footer>